<%= @post.title %>
<%= link_to "Edit", edit_post_path(@post) %>

<br>
<% @comments.each do |comment| %>
<%= comment.name %>
<%= comment.comment %>
<% end %>

<p>add comment</p>

<%= simple_form_for ([@post, @post.comments.build]) do |f| %>
  <%= f.input :name %>
  <%= f.input :comment %>
  <%= f.submit 'Add comment', class: "btn btn-primary" %>
<% end %>
